.title {
  text-align: center;
  font-family: "American Typewriter", serif;
}

.menu_title {
  text-align:center;
  color: grey;
  font-family: "American Typewriter", serif;
}

.image {
  width:200px;
  -ms-interpolation-mode:bicubic;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image_confirmation {
  width:20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image_menu {
  width:100px;
  -ms-interpolation-mode:bicubic;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image_order {
  width:100px;
  -ms-interpolation-mode:bicubic;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#signin_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#cred {
  text-align: center;
}

#signup_form {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
}

ul {
  list-style-type: none;
  font-size: 80%;
  font-family: "American Typewriter", serif;
}

.padded {
  padding-left:15%;
}

.selection_field_title {
  font-family: "American Typewriter", serif;
}

.checkbox_title {
  font-family: "American Typewriter", serif;
  font-size: 80%;
}

.shopping_list_title {
  font-family: "American Typewriter", serif;
  text-align:center;
}
