{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static "orders/favicon.ico" %}">
    </head>
    <body>
      <br>
      <br>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          <img class="image_menu" src ="{% static "orders/pizzaicon.jpg" %}">
          <br>
          <h2 class="text-center"> Menu </h2>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <img class="image_menu" src ="{% static "orders/ordericon.jpg" %}">
          <br>
          <h2 class="text-center">Orders</h2>
        </div>
        <div class="col-1"></div>
        <div class="col-1">{% block exit %} {% endblock %}</div>
      </div>
      <div class="row">
        <div class="col-3">
          <br>
          <br>
          {% block menu_left %} {% endblock %}
        </div>
        <div class="col-3">
          <br>
          <br>
          {% block menu_right %} {% endblock %}
        </div>
        <div class="col-6">
          <br>
          <br>
          {% block choice %} {% endblock %}
        </div>
      </div>
    </body>
</html>
