{% extends "orders/base.html" %}
{% block title %}
Menu
{% endblock %}

{% block menu_left %}
<p class="text-center"> Regular Pizzas </p>
<ul class="padded">
  {% for pizza in Pizzas %}
    {% if pizza.type == "regular" %}
      {% if pizza.name == "special" %}
        <li style="text-transform:capitalize;"> {{pizza.name}} (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
      {% endif %}

      {% if pizza.name == "cheese" %}
        {% if pizza.toppings_nb == 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, without topping (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

        {% if pizza.toppings_nb > 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, {{pizza.toppings_nb}} toppings (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<p class="text-center"> Toppings </p>
<ul class="padded">
  {% for topping in Toppings %}
  <li> {{topping}} </li>
  {% endfor %}
</ul>
{% endblock %}

{% block menu_right %}
<p class="text-center"> Sicilian Pizzas </p>
<ul>
  {% for pizza in Pizzas %}
    {% if pizza.type == "sicilian" %}
      {% if pizza.name == "special" %}
        <li style="text-transform:capitalize;"> {{pizza.name}} (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
      {% endif %}

      {% if pizza.name == "cheese" %}
        {% if pizza.toppings_nb == 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, without topping (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

        {% if pizza.toppings_nb > 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, {{pizza.toppings_nb}} toppings (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<p class="text-center"> Salads </p>
<ul>
  {% for salad in Salads %}
  <li> {{salad}} </li>
  {% endfor %}
</ul>
<p class="text-center"> Pastas </p>
<ul>
  {% for pasta in Pastas %}
  <li> {{pasta}} </li>
  {% endfor %}
</ul>
<p class="text-center"> Dinner Platters </p>
<ul>
  {% for dinner in Dinners %}
  <li> {{dinner}} </li>
  {% endfor %}
</ul>
{% endblock %}

{% block choice %}
<p class="text-center"> Shopping Card </p>
<ul>
  {% for order in Orders %}
  <li> {{order}}: </li>
  <ul>
    {% for pizza in order.pizzas.all %}
    <li> {{pizza}} </li>
    {% endfor %}
  </ul>
  <ul>
    {% for salad in order.salads.all %}
    <li> {{salad}} </li>
    {% endfor %}
  </ul>
  <ul>
    {% for pasta in order.pastas.all %}
    <li> {{pasta}} </li>
    {% endfor %}
  </ul>
  <ul>
    {% for dinner in order.dinners.all %}
    <li> {{dinner}} </li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>
<hr>
<p class="text-center"> Add items </p>

<form id="pizza_form" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputState">Pizzas</label>
      <select id="pizza" class="form-control">
        <option selected>Choose...</option>
        <option> Regular, Cheese </option>
        <option> Regular, Special </option>
        <option> Sicilian, Cheese </option>
        <option> Sicilian, Special </option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="inputState">Size</label>
      <select id="pizza_size" class="form-control">
        <option selected>...</option>
        <option>Small</option>
        <option>Large</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState">Topping 1</label>
      <select id="pizza_top1" class="form-control">
        <option selected>...</option>
        <option>No Topping</option>
        {% for topping in Toppings %}
        <option>{{topping.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState">Topping 2</label>
      <select id="pizza_top2" class="form-control">
        <option selected>...</option>
        <option>No Topping</option>
        {% for topping in Toppings %}
        <option>{{topping.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState">Topping 3</label>
      <select id="pizza_top3" class="form-control">
        <option selected>...</option>
        <option>No Topping</option>
        {% for topping in Toppings %}
        <option>{{topping.name}}</option>
        {% endfor %}
      </select>
    </div>
    </div>
  <button type="submit" class="btn btn-dark">Add</button>
</form>
<br>
<div class="row">
  <div class="col-2">
    <form id="salad_form" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputState">Salads</label>
          <select id="salad" class="form-control">
            <option selected>Choose...</option>
            {% for salad in Salads %}
            <option>{{salad.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Add</button>
    </form>
  </div>
  <div class="col-2">
    <form id="pasta_form" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputState">Pastas</label>
          <select id="pasta" class="form-control">
            <option selected>Choose...</option>
            {% for pasta in Pastas %}
            <option>{{pasta.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Add</button>
    </form>
    </div>
    <div class="col-3">
      <form id="dinner_form" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputState">Dinners</label>
            <select id="dinner" class="form-control">
              <option selected>Choose...</option>
              {% for dinner in Dinners %}
              <option>{{dinner.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Size</label>
            <select id="dinner_size" class="form-control">
              <option selected>...</option>
              <option> Small </option>
              <option> Large </option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Add</button>
      </form>
      </div>
</div>
{% endblock %}

{% block exit %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Sign Out </a>
{% endblock %}

{% block js %}
<script>
  // SALADS
  function post_new_salad_order() {
    const request = new XMLHttpRequest();
    var select_bar = document.getElementById("salad");
    var salad_choice = select_bar.options[select_bar.selectedIndex].text;
    request.open('POST', '/order_salad');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('salad_type', salad_choice);
    request.send(data);
  };
  // PASTAS
  function post_new_pasta_order() {
    const request = new XMLHttpRequest();
    var select_bar = document.getElementById("pasta");
    var pasta_choice = select_bar.options[select_bar.selectedIndex].text;
    request.open('POST', '/order_pasta');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('pasta_type', pasta_choice);
    request.send(data);
  };

  //PIZZAS
  function post_new_pizza_order() {
    const request = new XMLHttpRequest();
    var pizza_bar = document.getElementById("pizza");
    var size_bar = document.getElementById("pizza_size");
    var top1_bar = document.getElementById("pizza_top1");
    var top2_bar = document.getElementById("pizza_top2");
    var top3_bar = document.getElementById("pizza_top3");

    request.open('POST', '/order_pizza');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('pizza', pizza_bar.options[pizza_bar.selectedIndex].text);
    data.append('size', size_bar.options[size_bar.selectedIndex].text);
    data.append('top1', top1_bar.options[top1_bar.selectedIndex].text);
    data.append('top2', top2_bar.options[top2_bar.selectedIndex].text);
    data.append('top3', top3_bar.options[top3_bar.selectedIndex].text);
    request.send(data);
  };

  //DINNERS
  function post_new_dinner_order() {
    const request = new XMLHttpRequest();
    var dinner_bar = document.getElementById("dinner");
    var dinner_size_bar = document.getElementById("dinner_size");

    request.open('POST', '/order_dinner');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('dinner', dinner_bar.options[dinner_bar.selectedIndex].text);
    data.append('size', dinner_size_bar.options[dinner_size_bar.selectedIndex].text);
    request.send(data);
  };

  //DEFINE ON SUBMIT EVENTS
   document.addEventListener('DOMContentLoaded', () => {
         document.querySelector('#salad_form').onsubmit = () => post_new_salad_order();
         document.querySelector('#pasta_form').onsubmit = () => post_new_pasta_order();
         document.querySelector('#pizza_form').onsubmit = () => post_new_pizza_order();
         document.querySelector('#dinner_form').onsubmit = () => post_new_dinner_order();
    });
</script>
{% endblock %}
