{% extends "orders/base.html" %}
{% block title %}
Menu
{% endblock %}

<!------------------------------------------------------------------------------->
<!---------------------------------LEFT MENU------------------------------------->
<!------------------------------------------------------------------------------->
{% block menu_left %}
<!---------------------------------REGULAR PIZZA---------------------------------->
<h5 class="menu_title"> Regular Pizzas </h5>
<ul class="padded">
  {% for pizza in Pizzas %}
    {% if pizza.type == "regular" %}
      {% if pizza.name == "special" %}
        <li style="text-transform:capitalize;"> {{pizza.name}} (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
      {% endif %}

      {% if pizza.name == "cheese" %}
        {% if pizza.toppings_nb == 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, without topping (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

        {% if pizza.toppings_nb > 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, {{pizza.toppings_nb}} toppings (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<!---------------------------------PASTAS---------------------------------------------->
<h5 class="menu_title" class="text-center"> Pastas </h5>
<ul class="padded">
  {% for pasta in Pastas %}
  <li> {{pasta}} </li>
  {% endfor %}
</ul>
<!---------------------------------SUBS---------------------------------------------->
<h5 class="menu_title"> Subs </h5>
<ul class="padded">
  {% for sub in Subs %}
    {% if sub.name == "Steak" %}
      <li> {{sub}} </li>
      <ul>
        {% for extra in SubExtras %}
        <li>+ {{extra.name}}: $0.50</li>
        {% endfor %}
      </ul>
    {% else %}
      <li> {{sub}} </li>
    {% endif %}
  {% endfor %}
  <ul>
  <li> + Extra Cheese on any sub: + $0.50 </li>
  </ul>
</ul>
{% endblock %}
<!------------------------------------------------------------------------------->
<!---------------------------------RIGHT MENU------------------------------------>
<!------------------------------------------------------------------------------->
{% block menu_right %}
<!---------------------------------PIZZAS------------------------------------------>
<h5 class="menu_title"> Sicilian Pizzas </h5>
<ul>
  {% for pizza in Pizzas %}
    {% if pizza.type == "sicilian" %}
      {% if pizza.name == "special" %}
        <li style="text-transform:capitalize;"> {{pizza.name}} (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
      {% endif %}

      {% if pizza.name == "cheese" %}
        {% if pizza.toppings_nb == 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, without topping (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

        {% if pizza.toppings_nb > 0 %}
          <li style="text-transform:capitalize;"> {{pizza.name}}, {{pizza.toppings_nb}} toppings (S: ${{pizza.price_small}} / L: ${{pizza.price_large}}) </li>
        {% endif %}

      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<!---------------------------------TOPPINGS------------------------------------------>
<h5 class="menu_title"> Toppings </h5>
<ul>
  {% for topping in Toppings %}
  <li> {{topping}} </li>
  {% endfor %}
</ul>
<!---------------------------------SALADS---------------------------------------------->
<h5 class="menu_title"> Salads </h5>
<ul>
  {% for salad in Salads %}
  <li> {{salad}} </li>
  {% endfor %}
</ul>

<!---------------------------------DINNERS---------------------------------------------->
<h5 class="menu_title"> Dinner Platters </h5>
<ul>
  {% for dinner in Dinners %}
  <li> {{dinner}} </li>
  {% endfor %}
</ul>
{% endblock %}
<!------------------------------------------------------------------------------->
<!---------------------------------SHOPPING CARD--------------------------------->
<!------------------------------------------------------------------------------->
{% block choice %}
<div style="text-align: center;padding-right:15%;">
<div style="display:inline-block;">
<h5 class="menu_title"> Shopping Card </h5>
  {% for order in Orders %}
  <p class="shopping_list_title"> {{order}}: </p>
  <ul>
    {% for pizza in order.pizzas.all %}
    <li> Pizza: {{pizza}} </li>
    {% empty %}
    <li> Pizza: Nope </li>
    {% endfor %}

    {% for salad in order.salads.all %}
    <li> Salad: {{salad}} </li>
    {% empty %}
    <li> Salad: Nope </li>
    {% endfor %}

    {% for pasta in order.pastas.all %}
    <li> Pasta: {{pasta}} </li>
    {% empty %}
    <li> Pasta: Nope </li>
    {% endfor %}
    {% for dinner in order.dinners.all %}
    <li> Dinner: {{dinner}} </li>
    {% empty %}
    <li> Dinner: Nope </li>
    {% endfor %}
    {% for sub in order.subs.all %}
    <li> Sub: {{sub}} </li>
    {% empty %}
    <li> Sub: Nope </li>
    {% endfor %}
  </ul>
  <p class="shopping_list_title"> Total: ${{order.total}} </p>
  <a href="{% url 'ask_confirmation' %}" class="btn btn-outline-dark" role="button" aria-pressed="true">Check out</a>
  {% empty %}
  <p> Nothing in your shopping list yet!
  {% endfor %}
</div>
</div>
<!------------------------------------------------------------------------------->
<!---------------------------------SELECTION------------------------------------->
<!------------------------------------------------------------------------------->
<hr>
<h5 class="menu_title"> Add items </h5>
<!---------------------------------PIZZA SELECTION------------------------------>
<form id="pizza_form" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputState" class="selection_field_title">Pizzas</label>
      <select id="pizza" class="form-control" onchange="enablePizzaOrder('pizza', 'pizza_size', 'pizza_button')">
        <option value="0" selected>...</option>
        <option value="1"> Regular, Cheese </option>
        <option value="2"> Regular, Special </option>
        <option value="1"> Sicilian, Cheese </option>
        <option value="2"> Sicilian, Special </option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="inputState" class="selection_field_title">Size</label>
      <select id="pizza_size" class="form-control" onchange="enablePizzaOrder('pizza', 'pizza_size', 'pizza_button')">
        <option value="0" selected>...</option>
        <option value="1">Small</option>
        <option value="1">Large</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState" class="selection_field_title">Topping 1</label>
      <select id="pizza_top1" class="form-control" disabled>
        <option value="0" selected>...</option>
        <option>No Topping</option>
        {% for topping in Toppings %}
        <option>{{topping.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState" class="selection_field_title">Topping 2</label>
      <select id="pizza_top2" class="form-control" disabled>
        <option value="0" selected>...</option>
        <option>No Topping</option>
        {% for topping in Toppings %}
        <option>{{topping.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState" class="selection_field_title">Topping 3</label>
      <select id="pizza_top3" class="form-control" disabled>
        <option value="0" selected>...</option>
        <option>No Topping</option>
        {% for topping in Toppings %}
        <option>{{topping.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2" style="padding-top:3%;">
      <button id="pizza_button" type="submit" class="btn btn-dark" disabled>Add</button>
    </div>
    </div>

</form>
<br>
<!---------------------------------PASTAS/SALADS/DINNERS SELECTION------------------------------>
<div class="row">
  <div class="col-3">
    <form id="salad_form" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputState" class="selection_field_title">Salads</label>
          <select id="salad" class="form-control" onchange="enableSaladOrder(this)">
            <option value="0" selected>...</option>
            {% for salad in Salads %}
            <option value="1">{{salad.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2" style="padding-top:14%;">
          <button id="salad_button" type="submit" class="btn btn-dark" disabled>Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-4">
    <form id="pasta_form" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputState" class="selection_field_title">Pastas</label>
          <select id="pasta" class="form-control" onchange="enablePastaOrder(this)">
            <option value="0" selected>...</option>
            {% for pasta in Pastas %}
            <option value="1">{{pasta.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2" style="padding-top:10%;">
          <button id="pasta_button" type="submit" class="btn btn-dark" disabled>Add</button>
        </div>
      </div>
    </form>
    </div>
    <div class="col-5">
      <form id="dinner_form" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputState" class="selection_field_title">Dinners</label>
            <select id="dinner" class="form-control" onchange="enableDinnerOrder('dinner', 'dinner_size', 'dinner_button')">
              <option value="0" selected>...</option>
              {% for dinner in Dinners %}
              <option value="1">{{dinner.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputState" class="selection_field_title">Size</label>
            <select id="dinner_size" class="form-control" onchange="enableDinnerOrder('dinner', 'dinner_size', 'dinner_button')">
              <option selected value="0">...</option>
              <option value="1"> Small </option>
              <option value="1"> Large </option>
            </select>
          </div>
          <div class="form-group col-md-2" style="padding-top:8%;">
            <button id="dinner_button" type="submit" class="btn btn-dark" disabled>Add</button>
          </div>
        </div>
      </form>
      </div>
</div>
<br>
<!---------------------------------SUB SELECTION------------------------------>
<div class="row">
  <div class="col-5">
    <form id="sub_form" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputState" class="selection_field_title">Subs</label>
          <select id="sub" class="form-control" onchange="enableSubOrder('sub','sub_size', 'sub_button')">
            <option value="0" selected>...</option>
            {% for sub in Subs %}
              {% if sub.name == "Steak" %}
                <option value="2">{{sub.name}}</option>
              {% else %}
                <option value="1">{{sub.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState" class="selection_field_title">Size</label>
          <select id="sub_size" class="form-control" onchange="enableSubOrder('sub','sub_size', 'sub_button')">
            <option value="0" selected>...</option>
            <option value="1"> Small </option>
            <option value="1"> Large </option>
          </select>
        </div>
        <div class="form-group col-md-2" style="padding-top:8%;">
          <button id="sub_button" type="submit" class="btn btn-dark" disabled>Add</button>
        </div>
        <div id="hidden_sub_div" style="display:none;">
          {% for extra in SubExtras %}
            {% if extra.name == "Green Peppers" %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="GreenPeppers">
              <label class="checkbox_title">{{extra}}</label>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id={{extra}}>
              <label class="checkbox_title">{{extra}}</label>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="ExtraCheese">
          <label class="form-check-label" for="defaultCheck2"><p class="checkbox_title">Extra Cheese</p></label>
        </div>

    </form>
    </div>
</div>
{% endblock %}

<!------------------------------------------------------------------------------->
<!---------------------------------LOG OUT BUTTON-------------------------------->
<!------------------------------------------------------------------------------->
{% block exit %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Sign Out </a>
{% endblock %}

<!------------------------------------------------------------------------------->
<!---------------------------------JAVASCRIPT------------------------------------>
<!------------------------------------------------------------------------------->
{% block js %}
<script>
//--------------------------------ORDER BUTTONS ENABLING CONDITIONS-------------->
  //Salads
  function enableSaladOrder(select){
    if(select.value==1){document.getElementById("salad_button").disabled = false;}
    else{document.getElementById("salad_button").disabled = true;}
  }
  //Pastas
   function enablePastaOrder(select){
     if(select.value==1){document.getElementById("pasta_button").disabled=false;}
     else{document.getElementById("pasta_button").disabled=true;}
   }
   //Dinners
   function enableDinnerOrder(select_id1, select_id2, button_id){
     var select_1=document.getElementById(select_id1);
     var select_2=document.getElementById(select_id2);
     if (select_1.value==1 && select_2.value==1){
       document.getElementById(button_id).disabled=false;
     }
     else {document.getElementById(button_id).disabled=true;}
   }

   //SUBS
   function enableSubOrder(select_id1, select_id2, button_id){
     var select_1=document.getElementById(select_id1);
     var select_2=document.getElementById(select_id2);
     var button=document.getElementById(button_id);
     if(select_1.value==2){
     document.getElementById('hidden_sub_div').style.display = "block";
      if(select_2.value==1){
        button.disabled=false;
      }
      else{
        button.disabled=true;
      }
     } else{
       document.getElementById("GreenPeppers").checked = false;
       document.getElementById("Mushrooms").checked = false;
       document.getElementById("Onions").checked = false;
       document.getElementById('hidden_sub_div').style.display = "none";
       if(select_1.value==1 && select_2.value==1){
         button.disabled=false;
       }
       else {button.disabled=true;}
      }
   }

   //PIZZAS
   function enablePizzaOrder(select_id1, select_id2, button_id){
     var select_1=document.getElementById(select_id1);
     var select_2=document.getElementById(select_id2);
     var button=document.getElementById(button_id);
     if(select_1.value==1){
       document.getElementById("pizza_top1").disabled = false;
       document.getElementById("pizza_top2").disabled = false;
       document.getElementById("pizza_top3").disabled = false;
       if(select_2.value==1){
         button.disabled=false;
       }
       else{
         button.disabled=true;
       }
     } else if(select_1.value==2){
       document.getElementById("pizza_top1").disabled = true;
       document.getElementById("pizza_top2").disabled = true;
       document.getElementById("pizza_top3").disabled = true;
       document.getElementById("pizza_top1").value = "0";
       document.getElementById("pizza_top2").value = "0";
       document.getElementById("pizza_top3").value = "0";
       if(select_2.value==1){
         button.disabled=false;
       }
       else{
         button.disabled=true;
       }
      }
      else {
        document.getElementById("pizza_top1").disabled = true;
        document.getElementById("pizza_top2").disabled = true;
        document.getElementById("pizza_top3").disabled = true;
        document.getElementById("pizza_top1").value = "0";
        document.getElementById("pizza_top2").value = "0";
        document.getElementById("pizza_top3").value = "0";
        button.disabled=true;
      }
     }

//--------------------------------AJAX FOR ORDERS-------------->
  // SALADS
  function post_new_salad_order() {
    const request = new XMLHttpRequest();
    var select_bar = document.getElementById("salad");
    var salad_choice = select_bar.options[select_bar.selectedIndex].text;
    request.open('POST', '/order_salad');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('salad_type', salad_choice);
    request.send(data);
  };
  // PASTAS
  function post_new_pasta_order() {
    const request = new XMLHttpRequest();
    var select_bar = document.getElementById("pasta");
    var pasta_choice = select_bar.options[select_bar.selectedIndex].text;
    request.open('POST', '/order_pasta');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('pasta_type', pasta_choice);
    request.send(data);
  };


  function post_new_pizza_order() {
    const request = new XMLHttpRequest();
    var pizza_bar = document.getElementById("pizza");
    var size_bar = document.getElementById("pizza_size");
    var top1_bar = document.getElementById("pizza_top1");
    var top2_bar = document.getElementById("pizza_top2");
    var top3_bar = document.getElementById("pizza_top3");

    request.open('POST', '/order_pizza');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('pizza', pizza_bar.options[pizza_bar.selectedIndex].text);
    data.append('size', size_bar.options[size_bar.selectedIndex].text);
    data.append('top1', top1_bar.options[top1_bar.selectedIndex].text);
    data.append('top2', top2_bar.options[top2_bar.selectedIndex].text);
    data.append('top3', top3_bar.options[top3_bar.selectedIndex].text);
    request.send(data);
  };

  //DINNERS
  function post_new_dinner_order() {
    const request = new XMLHttpRequest();
    var dinner_bar = document.getElementById("dinner");
    var dinner_size_bar = document.getElementById("dinner_size");

    request.open('POST', '/order_dinner');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('dinner', dinner_bar.options[dinner_bar.selectedIndex].text);
    data.append('size', dinner_size_bar.options[dinner_size_bar.selectedIndex].text);
    request.send(data);
  };


  //SUBS
  function post_new_sub_order() {
    const request = new XMLHttpRequest();
    var sub_bar = document.getElementById("sub");
    var sub_size_bar = document.getElementById("sub_size");
    var cheese_checkbox = document.getElementById("ExtraCheese");
    var onions_checkbox = document.getElementById("Onions");
    var mushrooms_checkbox = document.getElementById("Mushrooms");
    var peppers_checkbox = document.getElementById("GreenPeppers");
    request.open('POST', '/order_sub');

    request.onload = () => {
        location.reload();
    };
    const data = new FormData();
    data.append('sub', sub_bar.options[sub_bar.selectedIndex].text);
    data.append('size', sub_size_bar.options[sub_size_bar.selectedIndex].text);
    data.append('Cheese', cheese_checkbox.checked.toString());
    data.append('Onions', onions_checkbox.checked.toString());
    data.append('Mushrooms', mushrooms_checkbox.checked.toString());
    data.append('Green Peppers', peppers_checkbox.checked.toString());
    request.send(data);
  };
//--------------------------------DEFINE ONSUBMIT EVENTS-------------->
  //DEFINE ON SUBMIT EVENTS
   document.addEventListener('DOMContentLoaded', () => {
         document.querySelector('#salad_form').onsubmit = () => post_new_salad_order();
         document.querySelector('#pasta_form').onsubmit = () => post_new_pasta_order();
         document.querySelector('#pizza_form').onsubmit = () => post_new_pizza_order();
         document.querySelector('#dinner_form').onsubmit = () => post_new_dinner_order();
         document.querySelector('#sub_form').onsubmit = () => post_new_sub_order();
    });
</script>
{% endblock %}
