{% extends "orders/base.html" %}
{% block body %}
<form action="{% url 'signup' %}" method="post" class="form-signin">
  {% csrf_token %}
  <h1 class='text-center'>Sign up</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input name="username" type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your credentials with anyone.</small>
  </div>
  {% if message %}
      <div>{{ message }}</div>
  {% endif %}
  <button id="signin_button" class="btn btn-danger" type="submit" value="Login">Sign up</button>
  <br>
  <p> Already have an account? <a href="{% url 'login' %}">Sign in</a> </p>
</form>
{% endblock %}
